<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C:lol-li</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-light">
  <div class="container-fluid">
      <span class="p-3 mb-2 bg-dark text-white" >JUStAsiTE.com</span>

  </div>
</nav>

<br>
<hr width="800"> <div class="card text-bg-secondary mb-2 opacity-60" style="max-width: 50rem;">
        <div class="card-header text-dark"><b>First sem mein kya kiya re....(lol)</b></div>
  </div>

</body>
</html>