<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<!--LOGO-->
   <pre><section> <h1>LOGO oF GOds</h1>
    <i>It's Awesome is'nt it...but I was Kidding(lol)</i>
    </section></pre>
    <br>
<!--#Text area-->

   <span>
       <b> Enter your text here</b>
   </span>
   <section>
        <form action="\djangoL" method="get">
       <textarea name='text' cols="30" rows="10"style="width: 952px; height: 110px;"></textarea>

       <button type='submit' >Go to lotes</button>
            <br><input type="checkbox" name="puncrem">Remove Punctuations
            <input type="checkbox" name="capall">CAPITALIZE ALL
            <input type="checkbox" name="spacerem">Remove ' 'Space
            <input type="checkbox" name="newlinerem">Remove New line
            <!--input type="checkbox" name="conu_tit">Coun-tit-->
        </form>
   </section>

<!--image--!>
    <section>
    <pre><img src="https://images.unsplash.com/photo-1607604760190-ec9ccc12156e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=forma&tSfit=crop&w=387" alt=""heigth="98"></pre>
    </section>

    <br>
<!--written-->
    <span><b>This is my heading</b></span><br>
    <hr>
    <div><i>I've used b things to write in italic</i><br>
    <hr>
    <b><p> <u> completely forgot to underline it</u><br>Lets roll to the paragraph here i wanna post some random phptos</p></b>
    <br><img src="https://images.unsplash.com/photo-1625580916836-1badf2c15b32?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=207" alt=""height=244>
    </div>
    <br>
    <div><p>Oh...By the way you know that C + O<sub>2</sub>=CO<sub>2</sub><br>...Well I know that you don't know What it is....Wanna know... go read it in your books</p>
</div>

<!--My channel-->
    <main><h2><small>Down below is my Youtube chanell</small></h2>
    <br><a href="https://www.youtube.com/channel/UCSBs8lihmhfESBQ8UZxD1qw"target="-main"> Click Here to dive in</a>
    </main>
<b>Want to learn backend</b>
<br>
<a href="https://www.youtube.com/watch?v=lkhJ7OCOCIc&list=PLu0W_9lII9ah7DDtYtflgwMwpT3xmjXY9&index=13" target="
'_main">Click here buddy</a>
</body>
</html>